/* frontend/src/index.css */

@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: Arial, sans-serif;
}

body {
  animation: flicker 0.15s infinite;
}

/* RADAR */

@keyframes radarSweep {

  from {
    transform: translateX(-50%) translateY(-100%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) translateY(-100%) rotate(360deg);
  }
}

/* PULSE */

@keyframes pulseGlow {

  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

/* SCREEN FLICKER */

@keyframes flicker {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.97;
  }

  100% {
    opacity: 1;
  }
}

/* MATRIX */

.matrix-bg {

  background-image:
    linear-gradient(
      rgba(0,255,0,0.2) 1px,
      transparent 1px
    );

  background-size: 100% 4px;

  animation: matrixMove 0.2s linear infinite;
}

@keyframes matrixMove {

  from {
    background-position-y: 0;
  }

  to {
    background-position-y: 4px;
  }
}

/* BOOT FLICKER */

.boot-flicker {

  background:
    repeating-linear-gradient(
      to bottom,
      rgba(255,255,255,0.02),
      rgba(255,255,255,0.02) 2px,
      transparent 2px,
      transparent 4px
    );

  animation: flicker 0.08s infinite;
}

/* BOOT LINES */

.boot-line {

  opacity: 0;

  animation:
    bootFlash 0.35s ease-out forwards,
    bootFill 0.5s ease-out forwards;
}

/* FLASH */

@keyframes bootFlash {

  0% {
    opacity: 0;
    transform: scale(0.96);
    filter: brightness(4);
  }

  40% {
    opacity: 1;
    filter: brightness(8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1);
  }
}

/* FILL EFFECT */

@keyframes bootFill {

  0% {
    letter-spacing: 12px;
    opacity: 0;
  }

  100% {
    letter-spacing: 2px;
    opacity: 1;
  }
}

/* TITLE GLOW */

@keyframes bootGlow {

  0% {
    text-shadow: 0 0 10px #00ff00;
  }

  50% {
    text-shadow:
      0 0 20px #00ff00,
      0 0 40px #00ff00;
  }

  100% {
    text-shadow: 0 0 10px #00ff00;
  }
}
@keyframes cameraMotion {

  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}
@keyframes equalizer {

  from {
    opacity: 0.4;
    transform: scaleY(0.6);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes spinDisc {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/* frontend/src/index.css */

/* დაამატე ბოლოში */

@keyframes compassSpin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

